---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于"
	description="Nothing"
	pubDate={new Date('1 11 2024')}
>
	<p>页面开发 Astro + html + css + javascript</p>
	<p>服务部署 Docker + Nginx</p>
	<p>服务器   阿里云</p>

</Layout>
