---
---

<div>
  <p>
    以下是您会喜欢这个模板的几个原因：
  </p>
  <ul class="mt-5">
    <li>
      <strong>Bubblegum.</strong>
      一个用 <a href="https://astro.build" target="_blank">Astro</a> 和 <a href="https://tailwindcss.com">Tailwind</a> 构建的多彩主题。
    </li>
    <li>
      <strong>快速。</strong>
      默认情况下非常快速。Blogster模板经过工程化处理，即使在没有缓存的情况下，也会在您眨眼之间加载。
    </li>
    <li>
      <strong>暗模式。</strong> 自动暗模式和手动切换。点击页面顶部的切换按钮，您可以看到模式变化。
    </li>
    <li>
      <strong>移动优先。</strong> 响应式并在所有设备上加载速度很快。
    </li>
    <li>
      <strong>无障碍。</strong> 经过深思熟虑的语义化和可访问性内容。
    </li>
    <li>
      <strong>完美的Lighthouse分数。</strong> 各方面都达到100分。
    </li>
    <li>
      <strong>适用于所有人的内容创作。</strong> 使用markdown（<code>.md</code>）从您的代码编辑器或直接在GitHub中编写内容。
    </li>
    <li>
      <span>
        <strong>扩展的markdown</strong> 使用 <a href="https://markdoc.dev">Markdoc</a>。
      </span>
      <span>
        在您的markdown（<code>.md</code>）文件中，可以使用类型安全的自定义组件，如YouTube嵌入、Twitter嵌入（或您想要的任何内容）。</span>
    </li>
    <li>
      内置的 <strong>RSS feed</strong> 供您的博客使用，具有出色的<strong>SEO</strong>等功能。
    </li>
  </ul>
</div>
