---
const today = new Date();
---


<footer >
	<div class=" text-sm text-gray-400">鄂ICP备2024032902号-1</div>
	<span>
		<img class=" h-4 inline-block" src="/gongan.png">
		<a class=" text-sm text-gray-400" href="https://beian.mps.gov.cn/#/query/webSearch?code=42018502007282" rel="noreferrer" target="_blank">鄂公网安备42018502007282</a>
	</span>
	
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
