---
const today = new Date();
---


<footer class="flex flex-row justify-center items-center">
	<div class=" text-sm text-gray-400">鄂ICP备2024032902号-1</div>
	<div class=" flex-row flex ml-5">
		<img class=" h-4 inline-block" src="/gongan.png">
		<a class=" text-sm text-gray-400" href="https://beian.mps.gov.cn/#/query/webSearch?code=42018502007282" rel="noreferrer" target="_blank">鄂公网安备42018502007282</a>
	</div>
	
</footer>
