---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        YCH个人站
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      你好！这是一个用于构建自己的博客的入门模板，使用
      <a href={"https://github.com/flexdinesh/blogster"} target="_blank">Blogster</a>。 
      提供四种主题
      <a href={"https://blogster-minimal.netlify.app"} target="_blank">minimal</a>, 
      <a href={"https://blogster-sleek.netlify.app"} target="_blank">sleek</a>, 
      <a href={"https://blogster-newspaper.netlify.app"} target="_blank">newspaper</a> 和
      <a href={"https://blogster-bubblegum.netlify.app"} target="_blank">bubblegum</a>。 
      这个博客是<b>bubblegum</b>主题的演示。
      用一个简单的命令开始。
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme bubblegum</code>
    </p>
  </div>
</section>
